

/* .drink__detail {
    display: none;
}
.drink__detail.active {
    display: block;
} */

.drink__item .drink__detail {
    display: none;
}
.drink__item.active .drink__detail {
    display: block;
}